<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541508351804-9r45odcurve0ovn6tclj4e4jsf697ial.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541508351804-9r45odcurve0ovn6tclj4e4jsf697ial</string>
	<key>API_KEY</key>
	<string>AIzaSyDk9IY7I0RZn1NYYaweVtZ47SOKlDhOpFo</string>
	<key>GCM_SENDER_ID</key>
	<string>541508351804</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>uk.co.gardnerone.babyNames</string>
	<key>PROJECT_ID</key>
	<string>baby-names-app-51154</string>
	<key>STORAGE_BUCKET</key>
	<string>baby-names-app-51154.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541508351804:ios:5acae9c6cbfa0e28</string>
	<key>DATABASE_URL</key>
	<string>https://baby-names-app-51154.firebaseio.com</string>
</dict>
</plist>